.main-navigation-item{
    display: flex;
    height: 200px;
    flex-direction: column;
    margin: 30px 0px;
    width: 100%;
    color: var(--White);
}

 .main-navigation-item .categories-header{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 .main-navigation-item .categories-header .right{
    display: flex;
    gap: 20px;
}

 .main-navigation-item .categories-header .right .arrow{
    height: 25px;
    width: 25px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 50%;
}

 .main-navigation-item .categories-header .right .arrow:active{
     scale: 0.9;
}

 .main-navigation-item .categories-header .right .arrow img{
    height: inherit;
    width: inherit;
    object-fit: fill;
    padding: 5px;
}

 .main-navigation-item ul{
    display: flex;
    gap: 15px;
    padding: 10px;
    list-style: none;
    /* overflow: auto; */
    text-wrap: nowrap;
    /* scroll-behavior: smooth; */
    width: 100%;
}

 /* .main-navigation-item ul::-webkit-scrollbar {
    width: 0px;
} */

 .main-navigation-item ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* border-radius: 10px; */
    box-shadow: 8px 5px 1px rgba(97, 218, 251, 0.7);
    height: 100px;
    min-width: 200px;
    border: 1px solid rgba(59, 63, 62, 0.952);
    background-color: var(--Secondary);
    text-decoration: none;
    color: var(--White);
    position: relative;
}
 /* .main-navigation-item ul li ::-webkit-scrollbar {
  width: 12px;
} */

.main-navigation-item ul li:hover{
    transition: 0.3s;
    cursor: pointer;
    top: -3px;
    left: -10px;
    margin: 0px 5px;
    box-shadow: 13px 10px 1px rgba(97, 218, 251, 0.3);
}

@keyframes slide {
    from {
         width: 0;
         padding: 0;
    }
    to {
        
         width: 30px;
         padding: 5px;
    }
}