.show-product-container{
    height: 700px;
    display: grid;
    grid-template-columns: repeat(2,50%);
    align-items: center;
    justify-content: space-between;
}

.show-product-container .image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    /* background-color: blueviol et; */
}

.show-product-container .image-container-mobile{
    display: none;
}

.show-product-container .image-container .wrapper{
    height: 450px;
    width: 450px;
}

.show-product-container .image-container .image-header,
.show-product-container .image-container-mobile .wrapper .image-header{
    height: inherit;
    width: inherit;
    background: url('../../assets/image-product-1.jpg') no-repeat center;
    background-size: cover;
    border-radius: 10px;
    cursor: pointer;
}

.show-product-container .image-container .image-thumbnail{
    width: 450px;
    display: grid;
    grid-template-columns: repeat(4,auto);
    padding: 10px 0px;
    justify-content: space-between;
}

.image-container .image-thumbnail .thumbnail{
    height: 85px;
    width:85px;
    border: 1px solid transparent;
}

.image-container .image-thumbnail .thumbnail img{
   height: inherit;
   width: inherit;
   object-fit: cover;
   border-radius: 10px;
}

.image-container .image-thumbnail .thumbnail.current{
    border-color:var(--Orange);
    border-radius: 10px;
}

.image-container .image-thumbnail .thumbnail.current img{
    opacity: 0.5;
}

/* ITEM DESCRIPTION CONTAINER STYLES */
.show-product-container .item-description-container{
    width: 100%;
    display: grid;
    grid-template-columns:auto;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.show-product-container .item-description-container .company{
    color: var(--Thersiary);
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
}

.show-product-container .item-description-container .item-title{
    font-size: 25px;
    color: var(--White);
}

.show-product-container .item-description-container .item-description{
    color: var(--Dark-grayish-blue);
    text-wrap:balance;
    font-size: 17px;
}

.show-product-container .item-description-container .discount{
    display: flex;
    gap: 30px;
}

.show-product-container .item-description-container .price{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--White);
}

.show-product-container .item-description-container .price .discount{
    background-color: var( --Thersiary);
    padding: 3px 10px;
    display: block;
    /* height: 100%; */
    color: var(--Secondary);
    font-weight: 700;
    border-radius: 5px;
}

.show-product-container .item-description-container .old-price{
    color: var(--Grayish-blue);
    font-size: 25px;
    text-decoration: line-through;
}

.btn-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-container .cart-column{
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: repeat(2,auto);
    column-gap: 20px;
}



/* ADD TO CART BTN */
.btn-container .cart-column .addToCart-btn{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.btn-container .cart-column .addToCart-btn .btn-icon{
   margin-right:10px ;
}

.btn-container .cart-column .addToCart-btn button.btn-add-cart{
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-weight: bold;
    color: var(--White);
    border-radius: 10px;
    background-color: var(--Secondary);
    transition: 0.3s;
}

.btn-container .cart-column .addToCart-btn button.btn-add-cart:hover{
    background-color: var(--Thersiary);
    color: var(--Secondary);
    box-shadow: 0px 10px 20px rgb(30, 82, 95);
}

/* PRODUCT SLIDESHOW */
.product-slideshow{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    gap: 30px;
    display: none;
    user-select: none;
    transition: all 0.5s ease-in;
    z-index: 2;
}

.product-slideshow.active{
    display: flex;
}

.product-slideshow > .main-item {
    display: grid;
    grid-template-columns: auto;
    gap: 30px;
}

.product-slideshow > .main-item > .close-icon{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.product-slideshow > .main-item > .close-icon > img{
    align-self: flex-end;
}

  
.show-product-container .image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    /* background-color: blueviolet; */
}

.product-slideshow > .main-item > .image-container > .wrapper{
    height: 450px;
    width: 450px;
    position: relative;
}

.prev-icon{
   position: absolute;
   top: 50%;
   left: -25px;
   width: 50px;
   height: 50px;
   background-color: var(--White);
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   border: 1px solid rgba(0, 0, 0, 0.2);
   cursor: pointer;
}

.next-icon{
    position: absolute;
   top: 50%;
   right: -25px;
   width: 50px;
   height: 50px;
   background-color: var(--White);
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   border: 1px solid rgba(0, 0, 0, 0.2);
   cursor: pointer;
}

/* .product-slideshow > .main-item > .image-container > .wrapper > .prev-icon > img{
   height: 20px;
   width: 20px;
} */

.product-slideshow > .main-item > .image-container > .image-header{
    height: inherit;
    width: inherit;
   background: url('../../assets/image-product-1.jpg') no-repeat center;
   background-size: cover;
   border-radius: 10px;
}

.product-slideshow > .main-item > .image-container > .image-thumbnail{
    width: 450px;
    display: grid;
    grid-template-columns: repeat(4,auto);
    padding: 10px 0px;
    justify-content: space-between;
    
}

.product-slideshow > .main-item > .image-container > .image-thumbnail > .thumbnail{
    height: 85px;
    width:85px;
    border: 1px solid transparent;
    cursor: pointer;
}

.product-slideshow > .main-item > .image-container > .image-thumbnail .thumbnail img{
   height: inherit;
   width: inherit;
   object-fit: cover;
   border-radius: 10px;
   cursor: pointer;
}

.product-slideshow > .main-item > .image-container > .image-thumbnail .thumbnail.current{
    border-color:var(--Orange);
    border-radius: 10px;
}

.product-slideshow > .main-item > .image-container > .image-thumbnail .thumbnail.current img{
   opacity: 1;
}

.alert-container{
    width:300px;
    /* position: absolute;
    right: 30px;
    top: 100px; */
    animation: slide 0.3s ease;
    z-index: 10000;
    margin-bottom: 10px;
}

.alert-container .alert{
    width: inherit;
    background-color: #61dafbe5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color:var(--Primary);
    border-radius: 10px;
    font-weight: 500;
}

@keyframes slide {
    from{
        right: 0;
    }to{
        right: 30px;
    }
}

@media(width <= 768px){
    .show-product-container{
        grid-template-columns: 100%;
    }

    .show-product-container > .image-container{
        display: none;
    }

    .show-product-container .image-container-mobile{
        display: block;
    }

    .show-product-container .image-container-mobile .wrapper{
        width: 100%;
        height: 300px;
        position: relative;
    }

    .show-product-container .image-container-mobile .wrapper .image-header{
        border-radius: 0px;
    }
    
    .show-product-container .image-container-mobile .wrapper .prev-icon,
    .show-product-container .image-container-mobile .wrapper .next-icon{
        position: absolute;
        top: 50%;
        width: 50px;
        height: 50px;
        background-color: var(--White);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }

    .show-product-container .image-container-mobile .wrapper .prev-icon{
        left: 0px;
    }

    .show-product-container .image-container-mobile .wrapper .next-icon{
        right: 0px;
    }

    .show-product-container .item-description-container{
        padding: 20px 20px;
    }

    .show-product-container .item-description-container .item-title{
        font-size: 15px;
    }

    .show-product-container .item-description-container .pricing{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .show-product-container .item-description-container .item-description{
        font-size: 13px;
    }

    .btn-container .cart-column{
        grid-template-columns: 100%;
        row-gap: 20px;
        height: 130px;
        margin-bottom: 50px;
    }
}